<div>
    {{#unless items.length}}
    <p class="no-item"><strong>There are no items to identify in the pockets of your players</strong></p>
    {{/unless}} {{#each items}}
    <div data-item="{{this.uuid}}" class="{{this.css}}">
        <div class="img" style="background-image: url({{this.img}});"></div>
        <div class="name">{{{this.name}}}</div>
        <div class="actions">
            <a title="Send to Chat" data-action="chat">
                <i class="fas fa-message"></i>
            </a>
            <a title="Identify Item" data-action="identify">
                <i class="fas fa-{{#if this.identified}}rotate-left{{else}}question-circle{{/if}}"></i>
            </a>
            <a title="Post skill checks" data-action="checks">
                <i class="fas fa-dice-d20"></i>
            </a>
            <a title="Remove from list" data-action="remove">
                <i class="fas fa-square-{{#if this.checked}}plus{{else}}minus{{/if}}"></i>
            </a>
        </div>
    </div>
    {{/each}}
    <button type="button" data-action="reset" {{disabled (not items.length)}}>Reset All</button>
</div>
